body * {
    margin: 0;
   /*padding: 0;*/
    box-sizing: border-box;
    font-family: 'Metrophobic', sans-serif;
}
html, body {
  height: 100%;
}

html {
  background: url('https://i.imgur.com/qHZBybS.jpg') fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/*header styling*/

header {
    width: 100%;
}

legend {
  display: none
}
/* Clearfix */

header::before,
header::after {
    display: table;
    content: '';
    clear: both;
}


.col-8 {
    margin-top:40px;
    display: none;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
    color: #ffffff;
}

header ul li {
    padding: 10px 20px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    display: inline;
}
header ul {
    text-align: center;
    margin-bottom:20px;
    padding:0;
}


/*Quiz start screen styling*/

.quizStart {
    display: block;
    text-align: center;
    width: 50%;
    padding: 40px;
    /*margin-top: 150px;*/
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: normal;
    background-color: rgba(0,0,0,0.4);
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 15px;
    background-color: rgba(0,0,0,0.4);
}

h3 {
    color: #AF6438;
    font-size: 40px;
    /*margin-bottom: 20px;*/
}

button {
    padding: 20px;
    border: none;
    background-color: #172949;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 40px
}
button:hover, button:focus {
    background-color: #363946;
    color: #ebca52
}
main div {
    margin: 0 auto;
}
label:nth-child(2) {
    background-color: #3866AF
}
label:nth-child(3) {
    background-color: #387AAF
}
label:nth-child(4) {
    background-color: #2e758a
}
label:nth-child(5) {
    background-color: #0d696d
}
label {
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-out;
    line-height: 22px
}
label:hover, label:focus {
    background-color: #AF6438
}
fieldset {
    border: none;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
input:checked {
    border: 8px solid #ebca52;
}
input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}

form button {
    padding: 20px;
    border: none;
    background-color: #ebca52;
    color: #363946;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}
form button:hover, form button:focus {
    background-color: #363946;
    color: #ebca52
}
.answer {
    flex: 1 1 auto;
}
.questionAnswerForm {
    display: none;
    width: 50%;
}

.correctFeedback {
    display: block;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(to bottom, rgba(245, 255, 255, 1) 0%, rgba(124, 225, 230, 1) 100%);
    padding-top: 40px
}
.correctFeedback button {
    width: 100%
}
.correctFeedback p {
    font-size: 1.5em;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px
}
.correctFeedback span {
    color: #AF6438;
}
.correctFeedback img {
    width: 75%;
    height: auto;
    display: block;
    background-color: #38A9AF;
    margin: auto;
    padding: 5px;
}

.results img {
    max-width:325px;
    height: auto;
}
.results p:first-of-type {
    font-size: 25px;
    margin-bottom: 10px
}
.results p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0
}
.restartButton {
  margin-top: 40px
}

.wclogo {
      height: 220px;
      display: block;
      margin: auto;
}


@media screen and (max-width: 768px) {
    .questionAnswerForm { 
        width: 75%;
    }
    
    .quizStart {
        width: 100%;
        padding: 40px;
        margin-top: 0
}
